<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdl5VKJGP7SAJB4ZHPXCQN6XLR4Q4" Name="Profiler">
  <Description>Profiling Tools. It allows you to collect and analyze the statistics of the run-time operations in terms of the application domain.</Description>
  <Dependences>
    <Module Id="mdl3MGLVSNBXJC5FNZK72JM5QQHUE" Segment="ads"/>
    <Module Id="mdlSTQYRAT2MNDUFFZRTM3LJEM5XQ" Segment="ads"/>
    <Module Id="mdlSYSTEM____________________" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlZX6M73ZCMVC63KW6EABEG475EU" Segment="dds"/>
  </Dependences>
</Module>