<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlPOAFNTVR3ZAMZBLLN5EPG6ZV4Y" Name="Workflow.Db">
  <Description>Contains SQL cursors, procedures and statements for Radix:Workflow module.</Description>
  <Dependences>
    <Module Id="mdlCGRQUMEIIHNRDJIEACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlYMVABQK4LJFZZBPBASHNUQRZ5U" Segment="ads"/>
  </Dependences>
</Module>