<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Name="Exceptions">
  <Description>RadixWare exception classes</Description>
  <Dependences>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlU7Z6KRE4ZBGKPHT5ZUVW4UBNMM" Segment="ads"/>
  </Dependences>
</Module>