<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlCGRQUMEIIHNRDJIEACQMTAIZT4" Name="Workflow" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdlC4USCT2SABE3PJRBZXO2N46RQY" Segment="dds"/>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlJEJTFELIMLNBDKV7ABINU7DB2Q" Segment="dds"/>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
    <Module Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Segment="ads"/>
    <Module Id="mdlRDXHIPHG5FCYHE2A3TM2I6EYDA" Segment="dds"/>
    <Module Id="mdlYMVABQK4LJFZZBPBASHNUQRZ5U" Segment="ads"/>
  </Dependences>
</Module>