<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlUGWQPE2DOBBSBOYYUV2EBMXIRQ" Name="Explorer.EditMask" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlM6AJUBU4XNG63CMJI55MQBGYPI" Segment="ads"/>
    <Module Id="mdlMEHIGOCBDVB6ZOMCKM22RU4VVY" Segment="ads"/>
    <Module Id="mdlRCV3ZAPU2NCLVKVBGQY4ACYXWE" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlWRNMGWSSPBG4DKD3EI4QVXXITI" Segment="ads"/>
    <Module Id="mdlXYRYD6JFXBFV5OH6CM64X7Y7GA" Segment="ads"/>
  </Dependences>
</Module>