<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlKEK44SARQJCDDDWEQJS2SHAR5I" Name="Acs.Roles" NeedsDoc="true">
  <Description>User roles of Access Control System. Contains the set of abstract roles for next implementation.</Description>
  <Dependences>
    <Module Id="mdlEMMECIP33FAAVDVKUA5VGBTVAU" Segment="ads"/>
    <Module Id="mdlK4VOLBPESJALTBSWGC4LO76MZE" Segment="ads"/>
  </Dependences>
</Module>