<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlRCV3ZAPU2NCLVKVBGQY4ACYXWE" Name="Explorer.Meta" NeedsDoc="true">
  <Description>Meta-information of client classes. Contains user published definitions.</Description>
  <Dependences>
    <Module Id="mdl3BTPPXYKRNE6XAZOYN5K5Y27HE" Segment="ads"/>
    <Module Id="mdlAVKG4XKQGFAGPA2C3FYH6CUHIA" Segment="ads"/>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlMEHIGOCBDVB6ZOMCKM22RU4VVY" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlUGWQPE2DOBBSBOYYUV2EBMXIRQ" Segment="ads"/>
    <Module Id="mdlV2OA5TVX7JEKHMLAXBO2S62H4I" Segment="ads"/>
    <Module Id="mdlV5TKRIACW5H2ZD4UP6REVH5KXI" Segment="ads"/>
    <Module Id="mdlWRNMGWSSPBG4DKD3EI4QVXXITI" Segment="ads"/>
    <Module Id="mdlWYWH52ZLANBEHNATSRMW3WTUA4" Segment="ads"/>
    <Module Id="mdlXGH46HFQAFAOTCJI76LJJOTTXQ" Segment="ads"/>
    <Module Id="mdlZGSLYPDVTBGIBL7S5F35V4AWWE" Segment="ads"/>
  </Dependences>
</Module>