<Invoke xmlns="http://schemas.radixware.org/aas.wsdl" xmlns:aas="http://schemas.radixware.org/aas.xsd">
    <aas:InvokeRq ClassId="adcJHEA3ICKKVALVDGIC6OUI34B2U" MethodId="mthAK2Z4XDFTNGVPDCL2U2EIXMJPQ">
        <aas:Parameters>
            <aas:Item>
                <aas:Str>REPORT_ID_MARKER</aas:Str>
            </aas:Item>
            <aas:Item>
                <aas:Str>REPORT_LAYER_MARKER</aas:Str>
            </aas:Item>
            <aas:Item>
                <aas:Str>EXPORT_FORMAT_MARKER</aas:Str>
            </aas:Item>
            <aas:Item>
                <aas:Bin>REPORT_JAR_MARKER</aas:Bin>
            </aas:Item>
            <aas:Item>
                <aas:Bin>TEST_DATA_ZIP_MARKER</aas:Bin>
            </aas:Item>
            <aas:Item>
                <aas:Str>EXPORT_LOCALE_MARKER</aas:Str>
            </aas:Item>
        </aas:Parameters>
    </aas:InvokeRq>
</Invoke>