<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlOKSMSDV7GFEPPBQHDE56S2F47A" Name="PersoComm.Db">
  <Description>Contains SQL cursors, procedures and statements for Radix:PersoComm module.</Description>
  <Dependences>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlL4NHVGEOUTOBDANVABIFNQAABA" Segment="dds"/>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
    <Module Id="mdlRADIXDRC__________________" Segment="ads"/>
    <Module Id="mdlSYSTEM____________________" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlU6XJ2RXD4ZAJPBS2QB6WDAD3JQ" Segment="ads"/>
  </Dependences>
</Module>