<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlKZWSMD3I45ECTCULEXMEEJ6T3A" Name="Client.Utils">
  <Description>Utility unit.</Description>
  <Dependences>
    <Module Id="mdlHFD76L6VVRGCXCI4JLMLMXRK2U" Segment="ads"/>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlWRNMGWSSPBG4DKD3EI4QVXXITI" Segment="ads"/>
  </Dependences>
</Module>