<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlERX4B46ESZFJRGC35LB43MZBGM" Name="Client.Navigation" NeedsDoc="true">
  <Description>Structure of user navigation tree in the explorer</Description>
  <Dependences>
    <Module Id="mdl3BTPPXYKRNE6XAZOYN5K5Y27HE" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
  </Dependences>
</Module>