<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlMYJ6VIFA3BCMLFDDCZH36MAYBM" Name="CfgManagement" NeedsDoc="true">
  <Description>Configuration Management</Description>
  <Dependences>
    <Module Id="mdl3646HMWKSNWDRKKZAIDCWI44IC" Segment="dds"/>
  </Dependences>
</Module>