<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Name="System" NeedsDoc="true" DescriptionId="mlsCQRM72HV7VE7HC4ABYL7JHJ4G4">
  <Description/>
  <Dependences>
    <Module Id="mdl3646HMWKSNWDRKKZAIDCWI44IC" Segment="dds"/>
    <Module Id="mdl5H2HQUJP6VFMPDK7TYSVR7D6GA" Segment="dds"/>
    <Module Id="mdl5N3LTDN4SBBL3PUGGBRPUACFHQ" Segment="dds"/>
    <Module Id="mdlC4USCT2SABE3PJRBZXO2N46RQY" Segment="dds"/>
    <Module Id="mdlCGRQUMEIIHNRDJIEACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlJEJTFELIMLNBDKV7ABINU7DB2Q" Segment="dds"/>
    <Module Id="mdlL4NHVGEOUTOBDANVABIFNQAABA" Segment="dds"/>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
    <Module Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Segment="ads"/>
    <Module Id="mdlRDXHIPHG5FCYHE2A3TM2I6EYDA" Segment="dds"/>
    <Module Id="mdlSYSTEM____________________" Segment="ads"/>
    <Module Id="mdlZX6M73ZCMVC63KW6EABEG475EU" Segment="dds"/>
  </Dependences>
</Module>