<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Name="Arte" NeedsDoc="true">
  <Description>Application Runtime Environment unit</Description>
  <Dependences>
    <Module Id="mdl5VKJGP7SAJB4ZHPXCQN6XLR4Q4" Segment="ads"/>
    <Module Id="mdlCommon" Segment="kernel"/>
    <Module Id="mdlExplorer" Segment="kernel"/>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlRNFHUC6DTZBZDLXUGOSSAWYICI" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlSYSTEM____________________" Segment="ads"/>
    <Module Id="mdlServer" Segment="kernel"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlXJFKJCKY3VEG7N7IXU3BOT6BMI" Segment="ads"/>
    <Module Id="mdlXYRYD6JFXBFV5OH6CM64X7Y7GA" Segment="ads"/>
  </Dependences>
</Module>