<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlSCK7YASNWFBSPFELZFLRCIAH6E" Name="Reports" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
    <Module Id="mdlRDXHIPHG5FCYHE2A3TM2I6EYDA" Segment="dds"/>
  </Dependences>
</Module>