div.sub-name {
    font-size: 0.89m;
    font-weight: bold;
    margin-left: 2.9em;
    margin-top: -0.8em;
    margin-bottom: 1.5em;
}

tr.overwritten {
    color: #308509;    
}

tr.own-item{
    color: #D6A00B;
}

tr.inherited-item {
    color: black;
}

div.text-multiline {
    word-wrap: break-word;
    margin-top: -0.2em;
    margin-left: 1em;
}

.icon-image-overwritten-item {
    background-color : #308509;
    width : 10px;
    height : 10px;
    display: inline-block;
}
.icon-image-own-item {
    background-color : #D6A00B;  
    width : 10px;
    height : 10px;
    display: inline-block;
}
.icon-image-inherited-item {
    background-color :  black;
    width : 10px;
    height : 10px;
    display: inline-block;
}
.inline-text {
    display: inline-block;
    margin-right: 5px;
}
.domain-description div.title{
    font-size: 1em;
    font-weight: normal;
    border: 0.1em solid rgb(221, 221, 221);
    background: #E2E2E2;
    padding: 0.1em 0.3em;
    margin-top: -6px;
}

body {
    background-color:#ffffff;
    color:#353833;
    font-family: Arial, sans-serif;
    font-size:0.8em;
    margin:0;
}

html, body {

    min-width: 600px;
    min-height: 400px;

    width: 100%;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
}

h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.5em;
}
h3 {
    font-size:1.4em;
}
h4 {
    font-size:1.3em;
}
h5 {
    font-size:1.2em;
}
h6 {
    font-size:1.1em;
}

code, tt {
    font-size:1.2em;
}

a {
    color: #258aaf;
}

a:link, a:visited {
    text-decoration:none;
    color:#258aaf;
}

a:hover, a:focus {
    text-decoration:underline;
    color:#5b7cad;
}

a:active {
    text-decoration:underline;
    color:rgb(51, 181, 229);
}

div.pageHead {
    border-bottom:0.1em solid #BFC1C1;
    min-height: 1em;
    padding: 0 0.5em;
}

img {
    border: none;
}
/*
*
*
*/

div.description {
    margin-left: 1em;
    margin-top: 0.5em;
}

div.title {
    font-size: 1.4em;
    font-weight:bold;
}

ul.hierarchy {
    list-style: none;
    margin-bottom: 0.5em;
    padding-left: 0em;
    padding-top: 0.5em;
    margin-bottom: 1em;

    border-top: 0.1em solid rgb(158, 173, 192);
}

ul.hierarchy li {
    font-size: 0.9em;
}

code {
    font-family: monospace;
    font-size: 9pt;
}

div.single-line {
    padding: 0.3em 0.5em 0.3em 0.5em;
}

div.contentContainer {
    padding: 0 0.5em;

    min-width: 100%;
    font-size: 1.1em;
}

li.main-chapter div.title {
    /*margin-bottom: 1em;*/
}

li.head div.title div.title {
    font-size: 1.1em;
    font-weight: bold;
    padding: 0.2em;
    margin-bottom: 0em;
    display: inline-block;
    /*color: #2c4557;*/
}

li.head div.title img {
    width: 1.5em;
    vertical-align: text-bottom;
}

li.head div.sub-title {
    font-size: 1.2em;
    margin: 0em 0em 0.4em 0.2em;
    font-weight: normal;
}

ul.main-chapters {
    list-style: none;
    padding-left: 0em;
}

li.main-chapter {
    padding: 0em;
    margin: 0.5em;
}

li.chapter {
    padding: 0em;
    margin: 0.5em;
}

div.chapter {
    border: 0.1em solid rgb(221, 221, 221);
    padding: 1em 1em 0em 1em;
    margin-bottom: 2em;
    background-color: #f9f9f9;

    display: inline-block;
    min-width: 100%;
}

ul.chapters {
    list-style: none;
    padding: 0;
}

ul.chapters div.title {
    margin: 0em 0em 0.5em 0em;
}

.chapter .title {
    border-bottom: 0.1em solid rgb(221, 221, 221);
    margin-bottom: 1em;
    padding-bottom: 0.3em
}

ul.members {
    list-style: circle;
    padding: 0em;
}

ul.members li {
    margin: 0.2em 0.5em 0.2em 2em;
}

div.named {
    margin-bottom: 1em;
    display: inline-block;
    min-width: 100%;
}

.named div.title {
    font-size: 1em;
    font-weight: normal;
    border: 0.1em solid rgb(221, 221, 221);
    border-bottom: none;
    background: #E2E2E2;
    padding: 0.1em 0.5em;
    margin: 0;
}

div.named .members {
    border: 0.1em solid rgb(221, 221, 221);
}

.members img, div.named .title img {
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.4em;
    vertical-align: middle;
}

li.main-chapter.detail div.chapter ul.members li.named .title {
    white-space: nowrap;
    word-wrap: normal;
}

li.main-chapter.detail ul.members {
    list-style: none;
}

li.main-chapter.detail ul.members li {
    margin-bottom: 1.5em;
    padding-left: 0em;
    margin-left: 0em;
}

/*li.main-chapter.detail div.chapter div.named div.description {
    padding-left: 1.5em;
    padding-top: 0.5em;
}*/

li.main-chapter.description div.chapter.overview div.description {
    margin-left: 0em;
    margin-top: 0em;
    margin-bottom: 1em;
}


div.definition div {
    font-size: 1em;
    margin-left: 1em;
}


div.definition div.title {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 0;
}

div.definition {
    margin-bottom: 0.5em;
}

table.members {
    border-collapse: collapse;
    min-width: 100%;
    border: none;

    font-size:1em;
    margin-bottom: 1em;
    /*overflow: visible;*/
}

table.members tr td .title {
    border: none;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

table.members thead {
    background: #999;
    color: white;
}

table.members thead tr td {
    /*padding-left: 0.5em;*/
    padding: 0.4em 0.5em;
    /*font-weight: bold;*/
}

.identifier {
    font-weight: bold;
    display: inline;
}

table.members thead tr {
    border: 0.1em solid rgb(221, 221, 221);
}

table.members tr td{

    padding: 0.3em 0.5em 0.3em 0.5em;

    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    font-size-adjust: none;
    font-stretch: normal;

    border: 0.1em solid rgb(221, 221, 221);

    overflow: visible;
}


a {
    color: rgb(51, 181, 229);
}

table.members td:nth-child(1) {
    white-space: nowrap;
    width: 1px;
    overflow: visible;

    vertical-align: top;
}

table.members td.modifiers {
    white-space: nowrap;
    width: 1px;
    overflow: visible;

    vertical-align: top;
    text-align: right;
}

table.members td:nth-child(2) {
    white-space: normal;
    vertical-align: top;
}

table.members td:nth-child(2) * {
    white-space: normal;
}

/*table.members tr:nth-child(even) {
    background-color: #eeeeef;
}*/

table.members td p {
    padding: 1em;
    margin: 0em;
    margin-top: 0.2em;
    border: none;
}

ul.tableContent {
    list-style: none;
    text-align: right;
    margin: 0.4em;
    padding: 0;
}

ul.tableContent li {
    display: inline;
}

div.collapsible .content {
    display: none;
}
div.collapsible .title {
    display: inline-block;
    font-size: 1.1em;
    margin: 0px;
    border: none;
}
.named div.collapsible .title:first-child {
    display: inherit;
}

div.collapsible div.action {
    min-width: 1em;
    display: inline-block;
}

/*
*
* index
*/
html, body {
    height: 100%;
}
.indexPage {
    height: 100%;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

.contentTable {
    border-right: 1mm solid lightgrey;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 20%;
    padding-left: 0.5em;

    float: left;
    font-size: 1.1em;
    line-height: 1.2em;
}

.insert {
    height: 0%;
}

.units {
    padding: 0;
    margin: 0;
    height: 40%;
    overflow: auto;

    border-bottom: 1mm solid lightgrey;
}

.definitions {
    margin: 0;
    padding: 0;
    height: 59%;

    overflow: auto;
}

.units ul {
    margin: 0;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.units ul li {
    margin: 0;
    padding: 0;
}

.definitions ul li {
    margin: 0;
    padding: 0;
}
.definitions ul {
    margin: 0;
    list-style: none;
    padding: 0;
    cursor: pointer;
}

.units ul li:hover {
    background-color: lightgoldenrodyellow;
}

.definitionItem:hover {
    background-color: lightgoldenrodyellow;
}

.definitionTypeItem {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: default;
    font-weight: bold;
}

.units ul li img, .definitions ul li img {
    width: 1.2em;
    vertical-align: central;
    margin-right: 0.5em;
}

.units ul li, .definitions ul li {
    word-wrap: normal;
    white-space: nowrap;
}

.documentation {
    vertical-align: top;
    width: 80%;
    height: 100%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.definitions .title {
    padding: 0.5em 0;
    font-weight: bold;
}

#documentationFrame {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;

    overflow: visible;
}

ul li.selected {
    color: #317fcd;
}
li.legend {
    margin-top : 20px;
}

table{
    border-collapse: collapse;
}

.deprecated {
    text-decoration: line-through;
}

.deprecated .title {
    text-decoration: line-through;
}
.domain-structure .title{
    font-size: 17px;
    font-weight: normal;
    padding: 0px;
    margin-top: -15px;
    margin-left: 7px;
    border: 0px;
}

.tree-title,
.tree-title ul {
    margin:0;
    padding:0;
    list-style:none;
}

.tree-title ul {
    margin-left:1em;
    position:relative;
}

.tree-title ul ul {margin-left:.5em}
.tree-title ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid;
}

.tree-title li {
    margin:0;
    padding:0 0.5em;
    line-height:2em; 
    color:#369;
    font-weight:bold;
    position:relative;
}

.tree-title ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0;
}

.tree-title ul li:last-child:before {
    background:#f9f9f9;
    height:auto;
    top:1em;
    bottom:0;
}
.domain-title{
    margin-bottom: -15px;

}

.access-area-item-inherited li {
    padding-left: 15px;
}

.access-area-item li {
    padding-left: 15px;
}

li.access-area-item-inherited,  li.access-area-item-inherited * {
    color: gray;
}

.sub-head{
    background-color: #999;
    color : white;
    vertical-align: top;
}
ul li td.tree {
    padding-left: 30px;
}

li.named > .title {
    background-color: #BBB;
}

table.general-attributes thead {
    background-color: rgb(221, 221, 221);
    color: #353833;
}

.named .description > * {
    margin-bottom: 1em;
}

.named .description > .collapsible {
    margin-bottom: 0em;
}