<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlMEHIGOCBDVB6ZOMCKM22RU4VVY" Name="Client.Env" NeedsDoc="true">
  <Description>Client system environment.</Description>
  <Dependences>
    <Module Id="mdl3BTPPXYKRNE6XAZOYN5K5Y27HE" Segment="ads"/>
    <Module Id="mdlBMCAFFBGSVBSDF44YJDHFKSHXA" Segment="ads"/>
    <Module Id="mdlGVAGWC67RFADHCDTNJWXGS5BCA" Segment="ads"/>
    <Module Id="mdlHFD76L6VVRGCXCI4JLMLMXRK2U" Segment="ads"/>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlJHWQXQKC5ZGM5H7735QW6FUOXI" Segment="ads"/>
    <Module Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Segment="ads"/>
    <Module Id="mdlRADIXDRC__________________" Segment="ads"/>
    <Module Id="mdlRCV3ZAPU2NCLVKVBGQY4ACYXWE" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlT5I6PIGJCFEMFN263GDQRRD5XQ" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlUGWQPE2DOBBSBOYYUV2EBMXIRQ" Segment="ads"/>
    <Module Id="mdlWRNMGWSSPBG4DKD3EI4QVXXITI" Segment="ads"/>
    <Module Id="mdlXGH46HFQAFAOTCJI76LJJOTTXQ" Segment="ads"/>
    <Module Id="mdlXJFKJCKY3VEG7N7IXU3BOT6BMI" Segment="ads"/>
    <Module Id="mdlXYRYD6JFXBFV5OH6CM64X7Y7GA" Segment="ads"/>
    <Module Id="mdlZGSLYPDVTBGIBL7S5F35V4AWWE" Segment="ads"/>
  </Dependences>
</Module>