.rwt-tree{
    background-color: white;
}

.rwt-tree-node{

}
.rwt-tree-node-cell{
    height: 20px;
    padding:0;
    margin: 0;
    outline: none;
}

.rwt-tree-node-active{
    background-color: #e5ebee;
}