.rwt-tree{
    background-color: white;
}

.rwt-tree-node{

}
.rwt-tree-node-cell{
    height: 20px;
    padding:0;
    margin: 0;
}

.rwt-tree-node-active{
    background-color: #e5ebee;
}

.header-cell .header-handle{
    border-left: solid 1px;
    border-right: none;
    border-left-color:#f6f8f9;
    background-color: #ddd;         
    border-top:none;
    border-bottom: none;
}

.header-cell .header-handle[resizable="true"]{
    cursor:e-resize;
}