<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlA44HOD2RCBF63AP2L7GXBDFFR4" Name="ServiceBus.Graph" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdl5N3LTDN4SBBL3PUGGBRPUACFHQ" Segment="dds"/>
    <Module Id="mdl5TUDS3SSNBFYVAGOTWXRYKWOP4" Segment="ads"/>
    <Module Id="mdlDMZCEJZKPJELNN35SF3PKQPPQE" Segment="ads"/>
    <Module Id="mdlDUJHLXHAAJDOZIYESX46EOAEGQ" Segment="ads"/>
    <Module Id="mdlIAU26S7WZ5CQZEKLFKGKPWEQS4" Segment="ads"/>
    <Module Id="mdlJHWQXQKC5ZGM5H7735QW6FUOXI" Segment="ads"/>
    <Module Id="mdlK4VOLBPESJALTBSWGC4LO76MZE" Segment="ads"/>
    <Module Id="mdlMEHIGOCBDVB6ZOMCKM22RU4VVY" Segment="ads"/>
    <Module Id="mdlRCV3ZAPU2NCLVKVBGQY4ACYXWE" Segment="ads"/>
    <Module Id="mdlRPVQR65ZUZFA7EQO25INIJHFNE" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlSTQYRAT2MNDUFFZRTM3LJEM5XQ" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlV2OA5TVX7JEKHMLAXBO2S62H4I" Segment="ads"/>
    <Module Id="mdlV5TKRIACW5H2ZD4UP6REVH5KXI" Segment="ads"/>
    <Module Id="mdlXGH46HFQAFAOTCJI76LJJOTTXQ" Segment="ads"/>
  </Dependences>
</Module>