<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlZGSLYPDVTBGIBL7S5F35V4AWWE" Name="Explorer.Context">
  <Description/>
  <Dependences>
    <Module Id="mdlJHWQXQKC5ZGM5H7735QW6FUOXI" Segment="ads"/>
    <Module Id="mdlMEHIGOCBDVB6ZOMCKM22RU4VVY" Segment="ads"/>
    <Module Id="mdlRCV3ZAPU2NCLVKVBGQY4ACYXWE" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlXGH46HFQAFAOTCJI76LJJOTTXQ" Segment="ads"/>
  </Dependences>
</Module>