<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlH277JWNCTFCFTMEC6YYAAT3JWI" Name="Workflow.App">
  <Description/>
  <Dependences>
    <Module Id="mdlOWL3XYSM2ZDNHOW7W7XKT54GRE" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlU6XJ2RXD4ZAJPBS2QB6WDAD3JQ" Segment="ads"/>
    <Module Id="mdlXJFKJCKY3VEG7N7IXU3BOT6BMI" Segment="ads"/>
  </Dependences>
</Module>