<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlNKDTZ4BHVJBPNHXPSNSPCG65NA" Name="Scheduling.Db">
  <Description>Contains SQL cursors, procedures and statements for Radix:Sheduling module.</Description>
  <Dependences>
    <Module Id="mdlC4USCT2SABE3PJRBZXO2N46RQY" Segment="dds"/>
    <Module Id="mdlOWL3XYSM2ZDNHOW7W7XKT54GRE" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
  </Dependences>
</Module>