<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlJEJTFELIMLNBDKV7ABINU7DB2Q" Name="Audit" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
  </Dependences>
</Module>