<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdl5H2HQUJP6VFMPDK7TYSVR7D6GA" Name="SystemMonitor" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdl6D75WQNOHBGG5P35IGYTJXJIMI" Segment="ads"/>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
  </Dependences>
</Module>