<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlWYWH52ZLANBEHNATSRMW3WTUA4" Name="Java.Lang">
  <Description>Contains series of Java basic interfaces (Cloneable, Iterable, Serializable and etc.). </Description>
  <Dependences>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
  </Dependences>
</Module>