<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlT5I6PIGJCFEMFN263GDQRRD5XQ" Name="CfgManagement" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdl3BTPPXYKRNE6XAZOYN5K5Y27HE" Segment="ads"/>
    <Module Id="mdl3MGLVSNBXJC5FNZK72JM5QQHUE" Segment="ads"/>
    <Module Id="mdl5KD7MYJYTVCFJJCZT7GHCATTBI" Segment="ads"/>
    <Module Id="mdlHFD76L6VVRGCXCI4JLMLMXRK2U" Segment="ads"/>
    <Module Id="mdlIAU26S7WZ5CQZEKLFKGKPWEQS4" Segment="ads"/>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlJEUB4FBOQRFFHGEXALB6LSGPE4" Segment="ads"/>
    <Module Id="mdlJHWQXQKC5ZGM5H7735QW6FUOXI" Segment="ads"/>
    <Module Id="mdlMEHIGOCBDVB6ZOMCKM22RU4VVY" Segment="ads"/>
    <Module Id="mdlMYJ6VIFA3BCMLFDDCZH36MAYBM" Segment="dds"/>
    <Module Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Segment="ads"/>
    <Module Id="mdlRCV3ZAPU2NCLVKVBGQY4ACYXWE" Segment="ads"/>
    <Module Id="mdlRDXHIPHG5FCYHE2A3TM2I6EYDA" Segment="dds"/>
    <Module Id="mdlRPVQR65ZUZFA7EQO25INIJHFNE" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlSTQYRAT2MNDUFFZRTM3LJEM5XQ" Segment="ads"/>
    <Module Id="mdlSYSTEM____________________" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlU7Z6KRE4ZBGKPHT5ZUVW4UBNMM" Segment="ads"/>
    <Module Id="mdlUGWQPE2DOBBSBOYYUV2EBMXIRQ" Segment="ads"/>
    <Module Id="mdlV2OA5TVX7JEKHMLAXBO2S62H4I" Segment="ads"/>
    <Module Id="mdlV5TKRIACW5H2ZD4UP6REVH5KXI" Segment="ads"/>
    <Module Id="mdlWYWH52ZLANBEHNATSRMW3WTUA4" Segment="ads"/>
    <Module Id="mdlXGH46HFQAFAOTCJI76LJJOTTXQ" Segment="ads"/>
    <Module Id="mdlXJFKJCKY3VEG7N7IXU3BOT6BMI" Segment="ads"/>
    <Module Id="mdlXYRYD6JFXBFV5OH6CM64X7Y7GA" Segment="ads"/>
    <Module Id="mdlZGSLYPDVTBGIBL7S5F35V4AWWE" Segment="ads"/>
  </Dependences>
</Module>