<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdl5KD7MYJYTVCFJJCZT7GHCATTBI" Name="Explorer.Views.Wraps" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdlJHWQXQKC5ZGM5H7735QW6FUOXI" Segment="ads"/>
    <Module Id="mdlRPVQR65ZUZFA7EQO25INIJHFNE" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlSTQYRAT2MNDUFFZRTM3LJEM5XQ" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlXGH46HFQAFAOTCJI76LJJOTTXQ" Segment="ads"/>
  </Dependences>
</Module>