<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdl3646HMWKSNWDRKKZAIDCWI44IC" Name="UserProps" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlJEJTFELIMLNBDKV7ABINU7DB2Q" Segment="dds"/>
  </Dependences>
</Module>