<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdl23NUYK3HQFBDPFGAUYXF7OHULE" Name="Jms" NeedsDoc="true">
  <Description>Java Message Service with service descriptions</Description>
  <Dependences>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Segment="ads"/>
    <Module Id="mdlSYSTEM____________________" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
  </Dependences>
</Module>