<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlL4NHVGEOUTOBDANVABIFNQAABA" Name="PersoComm" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlJEJTFELIMLNBDKV7ABINU7DB2Q" Segment="dds"/>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
    <Module Id="mdlU6XJ2RXD4ZAJPBS2QB6WDAD3JQ" Segment="ads"/>
  </Dependences>
</Module>