<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlSTQYRAT2MNDUFFZRTM3LJEM5XQ" Name="Explorer.Qt.Types">
  <Description>Contains Qt classes/interfaces that allows work with GUI elements.</Description>
  <Dependences>
    <Module Id="mdlWYWH52ZLANBEHNATSRMW3WTUA4" Segment="ads"/>
  </Dependences>
</Module>