<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdl4WYYOSTOMFEPPIWRRDLIRBVN3Q" Name="Types.Context">
  <Description>Contains server representation of explorer contexts. Context - node of Explorer tree where called Entity.</Description>
  <Dependences>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
  </Dependences>
</Module>