<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Name="Acs" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdl5H2HQUJP6VFMPDK7TYSVR7D6GA" Segment="dds"/>
    <Module Id="mdlC4USCT2SABE3PJRBZXO2N46RQY" Segment="dds"/>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlJEJTFELIMLNBDKV7ABINU7DB2Q" Segment="dds"/>
  </Dependences>
</Module>