<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlEMMECIP33FAAVDVKUA5VGBTVAU" Name="Web.Settings" NeedsDoc="true">
  <Description>Contains representaion of WebExplorer Settings.</Description>
  <Dependences>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlXJFKJCKY3VEG7N7IXU3BOT6BMI" Segment="ads"/>
  </Dependences>
</Module>