<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlSAWMHYCT2BD6XDN3HZGS4W5XYY" Name="SelectorAddons.Db">
  <Description>Contains SQL cursors, procedures and statements for Radix:SelectorAddons module.</Description>
  <Dependences>
    <Module Id="mdlI7XFGVCDUZFUVILOXLE2QSSKJI" Segment="dds"/>
    <Module Id="mdlRNFHUC6DTZBZDLXUGOSSAWYICI" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
  </Dependences>
</Module>