.rwt-split-panel .divider{    
    background-color: #DDD;    
    border:solid 1px;
    border-color: #BBB;
}

.rwt-split-panel .vertical{    
    cursor: col-resize;
}
.rwt-split-panel .horizontal{    
    cursor: row-resize;
}
.rwt-split-panel .collapsed{    
    border-color: #d7dee3;
}
