<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlKEU3AILNJNCBXFEQTQ2WOYUSBA" Name="ServiceBus.Db">
  <Description>Contains SQL cursors, procedures and statements for Radix:ServiceBus module.</Description>
  <Dependences>
    <Module Id="mdl5N3LTDN4SBBL3PUGGBRPUACFHQ" Segment="dds"/>
    <Module Id="mdlDMZCEJZKPJELNN35SF3PKQPPQE" Segment="ads"/>
    <Module Id="mdlL4NHVGEOUTOBDANVABIFNQAABA" Segment="dds"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlU6XJ2RXD4ZAJPBS2QB6WDAD3JQ" Segment="ads"/>
  </Dependences>
</Module>