<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlV2OA5TVX7JEKHMLAXBO2S62H4I" Name="Explorer.Env" NeedsDoc="true">
  <Description>Explorer System Environment. Contains classes that published from org.radixware.kernel.explorer.env. This classes describes and implements overall structure of RadixWare Desktop Explorer.</Description>
  <Dependences>
    <Module Id="mdlCommon" Segment="kernel"/>
    <Module Id="mdlExplorer" Segment="kernel"/>
    <Module Id="mdlMEHIGOCBDVB6ZOMCKM22RU4VVY" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlSTQYRAT2MNDUFFZRTM3LJEM5XQ" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlUtils" Segment="kernel"/>
    <Module Id="mdlWYWH52ZLANBEHNATSRMW3WTUA4" Segment="ads"/>
    <Module Id="mdlWeb" Segment="kernel"/>
    <Module Id="mdlXGH46HFQAFAOTCJI76LJJOTTXQ" Segment="ads"/>
    <Module Id="mdlXYRYD6JFXBFV5OH6CM64X7Y7GA" Segment="ads"/>
  </Dependences>
</Module>