<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdl4SSG4OPF35GHFH2M3EWEMT5MLQ" Name="Web.Text" NeedsDoc="true">
  <Description>Contains classes to work with text of web view.</Description>
  <Dependences>
    <Module Id="mdlGVAGWC67RFADHCDTNJWXGS5BCA" Segment="ads"/>
    <Module Id="mdlXJFKJCKY3VEG7N7IXU3BOT6BMI" Segment="ads"/>
  </Dependences>
</Module>