<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlKAC6JR36XJCYTKCL2BRRJGUTOU" Name="Reports.Db">
  <Description>Contains SQL cursors, procedures and statements for Radix:Reports module.</Description>
  <Dependences>
    <Module Id="mdlSCK7YASNWFBSPFELZFLRCIAH6E" Segment="dds"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdl_RADIX_REPORTS____________" Segment="ads"/>
  </Dependences>
</Module>