<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlGVAGWC67RFADHCDTNJWXGS5BCA" Name="Client.Text" NeedsDoc="true">
  <Description>Client text options.</Description>
  <Dependences>
    <Module Id="mdlV2OA5TVX7JEKHMLAXBO2S62H4I" Segment="ads"/>
    <Module Id="mdlXJFKJCKY3VEG7N7IXU3BOT6BMI" Segment="ads"/>
  </Dependences>
</Module>