<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlFUW452BZJJC4PPYVUGEPI4LP2U" Name="MessageQueue" NeedsDoc="true">
  <Description/>
  <Dependences>
    <Module Id="mdl5TUDS3SSNBFYVAGOTWXRYKWOP4" Segment="ads"/>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlIAU26S7WZ5CQZEKLFKGKPWEQS4" Segment="ads"/>
    <Module Id="mdlJHWQXQKC5ZGM5H7735QW6FUOXI" Segment="ads"/>
    <Module Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Segment="ads"/>
    <Module Id="mdlRDXHIPHG5FCYHE2A3TM2I6EYDA" Segment="dds"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlSYSTEM____________________" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlV5TKRIACW5H2ZD4UP6REVH5KXI" Segment="ads"/>
    <Module Id="mdlWYWH52ZLANBEHNATSRMW3WTUA4" Segment="ads"/>
    <Module Id="mdlZGSLYPDVTBGIBL7S5F35V4AWWE" Segment="ads"/>
  </Dependences>
</Module>