<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlYMVABQK4LJFZZBPBASHNUQRZ5U" Name="Workflow" NeedsDoc="true">
  <Description>Contains data structures, roles and classes to creating and using workflow processes.</Description>
  <Dependences>
    <Module Id="mdl2D3S5VVECJGORPSKFAJBXKTOEI" Segment="ads"/>
    <Module Id="mdl3BTPPXYKRNE6XAZOYN5K5Y27HE" Segment="ads"/>
    <Module Id="mdl4SNLDVIDTVHRBLBYPAIIFSP7FQ" Segment="ads"/>
    <Module Id="mdlAX243P2UKNABHL6YS4HQ7OQEO4" Segment="ads"/>
    <Module Id="mdlCGRQUMEIIHNRDJIEACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlDUJHLXHAAJDOZIYESX46EOAEGQ" Segment="ads"/>
    <Module Id="mdlEBBS75K5ZZESLGQZOSJJFJECLU" Segment="ads"/>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlIAU26S7WZ5CQZEKLFKGKPWEQS4" Segment="ads"/>
    <Module Id="mdlJCSIEZPAWRE5FGCPBMQR2R74DE" Segment="ads"/>
    <Module Id="mdlJEUB4FBOQRFFHGEXALB6LSGPE4" Segment="ads"/>
    <Module Id="mdlJHWQXQKC5ZGM5H7735QW6FUOXI" Segment="ads"/>
    <Module Id="mdlMEHIGOCBDVB6ZOMCKM22RU4VVY" Segment="ads"/>
    <Module Id="mdlMYJ6VIFA3BCMLFDDCZH36MAYBM" Segment="dds"/>
    <Module Id="mdlOB5NQX24YXNBDGMBABQAQH3XQ4" Segment="dds"/>
    <Module Id="mdlPEKYFVDRVZHGZCBQQDY2NOYFOY" Segment="ads"/>
    <Module Id="mdlPOAFNTVR3ZAMZBLLN5EPG6ZV4Y" Segment="ads"/>
    <Module Id="mdlRADIXDRC__________________" Segment="ads"/>
    <Module Id="mdlRCV3ZAPU2NCLVKVBGQY4ACYXWE" Segment="ads"/>
    <Module Id="mdlRDXHIPHG5FCYHE2A3TM2I6EYDA" Segment="dds"/>
    <Module Id="mdlRPVQR65ZUZFA7EQO25INIJHFNE" Segment="ads"/>
    <Module Id="mdlRRENGVGRDZBNDITYLCVWATSQ2M" Segment="ads"/>
    <Module Id="mdlSCK7YASNWFBSPFELZFLRCIAH6E" Segment="dds"/>
    <Module Id="mdlSTQYRAT2MNDUFFZRTM3LJEM5XQ" Segment="ads"/>
    <Module Id="mdlSYSTEM____________________" Segment="ads"/>
    <Module Id="mdlT5I6PIGJCFEMFN263GDQRRD5XQ" Segment="ads"/>
    <Module Id="mdlTSHSLPBGIJFDBPAOBIDEYAXWUI" Segment="ads"/>
    <Module Id="mdlTWAKCFNR3NHWLFJPOS2JANM4GM" Segment="ads"/>
    <Module Id="mdlU7Z6KRE4ZBGKPHT5ZUVW4UBNMM" Segment="ads"/>
    <Module Id="mdlUGWQPE2DOBBSBOYYUV2EBMXIRQ" Segment="ads"/>
    <Module Id="mdlV2OA5TVX7JEKHMLAXBO2S62H4I" Segment="ads"/>
    <Module Id="mdlV5TKRIACW5H2ZD4UP6REVH5KXI" Segment="ads"/>
    <Module Id="mdlWRNMGWSSPBG4DKD3EI4QVXXITI" Segment="ads"/>
    <Module Id="mdlWYWH52ZLANBEHNATSRMW3WTUA4" Segment="ads"/>
    <Module Id="mdlXGH46HFQAFAOTCJI76LJJOTTXQ" Segment="ads"/>
    <Module Id="mdlXJFKJCKY3VEG7N7IXU3BOT6BMI" Segment="ads"/>
    <Module Id="mdlXXS3PSQY5BDXTCSX3OO2NNANBQ" Segment="ads"/>
    <Module Id="mdlXYRYD6JFXBFV5OH6CM64X7Y7GA" Segment="ads"/>
    <Module Id="mdlZGSLYPDVTBGIBL7S5F35V4AWWE" Segment="ads"/>
    <Module Id="mdl_RADIX_REPORTS____________" Segment="ads"/>
  </Dependences>
</Module>