<?xml version="1.0" encoding="UTF-8"?>
<Module xmlns="http://schemas.radixware.org/product.xsd" Id="mdlZXCEKUXXTFDUHM2SQTUFQFBVT4" Name="Testing" IsTest="true">
  <Description/>
  <Dependences>
    <Module Id="mdlGUMEGI5WGHNRDJHVACQMTAIZT4" Segment="dds"/>
    <Module Id="mdlJEJTFELIMLNBDKV7ABINU7DB2Q" Segment="dds"/>
  </Dependences>
</Module>